<%= content_for :navbar do %>
  <%= render "shared/navbar" %>
<% end %>
<%= content_for :left do %>
  <%= render "shared/left" %>
<% end %>

<%= content_for :right do %>
  <%= render "shared/right" %>
<% end %>


<div class="page">
  <div class="page-content">
    <div class="list searchbar-hide-on-search">
      <ul>
        <li>
          <% if current_user %>
            <%= link_to destroy_user_session_path, method: :delete, class: "item-content item-link" do %>
              <div class="item-media"><%= icon "power_settings_new" %></div>
              <div class="item-inner">
                <div class="item-title">로그아웃</div>
              </div>
            <% end %>
          <% else %>
            <%= link_to new_user_session_path, class: "item-content item-link" do %>
              <div class="item-media"><%= icon "power_settings_new" %></div>
              <div class="item-inner">
                <div class="item-title">로그인</div>
              </div>
            <% end %>
          <% end %>
        </li>
      </ul>
    </div>
    <div class="block-title searchbar-found">예제 샘플</div>
    <div class="list components-list searchbar-found">
      <ul>
        <li>
          <a class="item-content item-link external" href="/intro">
            <div class="item-media"><%= icon :assessment %></div>
            <div class="item-inner">
              <div class="item-title">인트로</div>
            </div>
          </a>
        </li>
        <li>
          <a class="item-content item-link" href="/icons/">
            <div class="item-media"><%= icon :apps %></div>
            <div class="item-inner">
              <div class="item-title">아이콘</div>
            </div>
          </a>
        </li>
        <li>
          <a class="item-content item-link" href="#" id="ajax_test">
            <div class="item-media"><%= icon :attachment %></div>
            <div class="item-inner">
              <div class="item-title">AJAX JS</div>
            </div>
          </a>
        </li>
        <li>
          <%= link_to "/remote_test", remote: true, class: "item-content item-link external", id: "remote_test" do %>
            <div class="item-media"><%= icon :dashboard %></div>
            <div class="item-inner">
              <div class="item-title">AJAX Remote</div>
            </div>
          <% end %>
        </li>
        <li>
          <a class="item-content item-link" href="/calendar/">
            <div class="item-media"><%= icon :date_range %></div>
            <div class="item-inner">
              <div class="item-title">캘린더</div>
            </div>
          </a>
        </li>
        <li>
          <a class="item-content item-link" href="/cards/">
            <div class="item-media"><%= icon :cloud %></div>
            <div class="item-inner">
              <div class="item-title">카드</div>
            </div>
          </a>
        </li>
        <li>
          <a class="item-content item-link" href="/main/">
            <div class="item-media"><%= icon :bookmark %></div>
            <div class="item-inner">
              <div class="item-title">메인</div>
            </div>
          </a>
        </li>
        <li>
          <a class="item-content item-link" href="/tabs">
            <div class="item-media"><%= icon :branding_watermark %></div>
            <div class="item-inner">
              <div class="item-title">탭</div>
            </div>
          </a>
        </li>
        <li>
          <a class="item-content item-link" href="/chips/">
            <div class="item-media"><%= icon :bettery_full %></div>
            <div class="item-inner">
              <div class="item-title">칩</div>
            </div>
          </a>
        </li>

        <li>
          <a class="item-content item-link" href="/test/">
            <div class="item-media"><%= icon :bluetooth %></div>
            <div class="item-inner">
              <div class="item-title">테스트</div>
            </div>
          </a>
        </li>
        <li>
          <a class="item-content item-link" href="/data-table/">
            <div class="item-media"><i class="icon icon-f7"></i></div>
            <div class="item-inner">
              <div class="item-title">Data Table</div>
            </div>
          </a>
        </li>
        <li>
          <a class="item-content item-link" href="/dialog/">
            <div class="item-media"><i class="icon icon-f7"></i></div>
            <div class="item-inner">
              <div class="item-title">Dialog</div>
            </div>
          </a>
        </li>
        <li>
          <a class="item-content item-link" href="/elevation/">
            <div class="item-media"><i class="icon icon-f7"></i></div>
            <div class="item-inner">
              <div class="item-title">Elevation</div>
            </div>
          </a>
        </li>
        <li>
          <a class="item-content item-link" href="/fab/">
            <div class="item-media"><i class="icon icon-f7"></i></div>
            <div class="item-inner">
              <div class="item-title">FAB</div>
            </div>
          </a>
        </li>
        <li>
          <a class="item-content item-link" href="/fab-morph/">
            <div class="item-media"><i class="icon icon-f7"></i></div>
            <div class="item-inner">
              <div class="item-title">FAB Morph</div>
            </div>
          </a>
        </li>
        <li>
          <a class="item-content item-link" href="/form-storage/">
            <div class="item-media"><i class="icon icon-f7"></i></div>
            <div class="item-inner">
              <div class="item-title">Form Storage</div>
            </div>
          </a>
        </li>
        <li>
          <a class="item-content item-link" href="/icons/">
            <div class="item-media"><i class="icon icon-f7"></i></div>
            <div class="item-inner">
              <div class="item-title">Icons</div>
            </div>
          </a>
        </li>
        <li>
          <a class="item-content item-link" href="/infinite-scroll/">
            <div class="item-media"><i class="icon icon-f7"></i></div>
            <div class="item-inner">
              <div class="item-title">Infinite Scroll</div>
            </div>
          </a>
        </li>
        <li>
          <a class="item-content item-link" href="/inputs/">
            <div class="item-media"><i class="icon icon-f7"></i></div>
            <div class="item-inner">
              <div class="item-title">Inputs</div>
            </div>
          </a>
        </li>
        <li>
          <a class="item-content item-link" href="/gauge/">
            <div class="item-media"><i class="icon icon-f7"></i></div>
            <div class="item-inner">
              <div class="item-title">Gauge</div>
            </div>
          </a>
        </li>
        <li>
          <a class="item-content item-link" href="/grid/">
            <div class="item-media"><i class="icon icon-f7"></i></div>
            <div class="item-inner">
              <div class="item-title">Grid / Layout Grid</div>
            </div>
          </a>
        </li>
        <li>
          <a class="item-content item-link" href="/lazy-load/">
            <div class="item-media"><i class="icon icon-f7"></i></div>
            <div class="item-inner">
              <div class="item-title">Lazy Load</div>
            </div>
          </a>
        </li>
        <li>
          <a class="item-content item-link" href="/list/">
            <div class="item-media"><i class="icon icon-f7"></i></div>
            <div class="item-inner">
              <div class="item-title">List View</div>
            </div>
          </a>
        </li>
        <li>
          <a class="item-content item-link" href="/list-index/">
            <div class="item-media"><i class="icon icon-f7"></i></div>
            <div class="item-inner">
              <div class="item-title">List Index</div>
            </div>
          </a>
        </li>
        <li>
          <a class="item-content item-link" href="/login-screen/">
            <div class="item-media"><i class="icon icon-f7"></i></div>
            <div class="item-inner">
              <div class="item-title">Login Screen</div>
            </div>
          </a>
        </li>
        <li>
          <a class="item-content item-link" href="/messages/">
            <div class="item-media"><i class="icon icon-f7"></i></div>
            <div class="item-inner">
              <div class="item-title">Messages</div>
            </div>
          </a>
        </li>
        <li>
          <a class="item-content item-link" href="/navbar/">
            <div class="item-media"><i class="icon icon-f7"></i></div>
            <div class="item-inner">
              <div class="item-title">Navbar</div>
            </div>
          </a>
        </li>
        <li>
          <a class="item-content item-link" href="/notifications/">
            <div class="item-media"><i class="icon icon-f7"></i></div>
            <div class="item-inner">
              <div class="item-title">Notifications</div>
            </div>
          </a>
        </li>
        <li>
          <a class="item-content item-link" href="/panel/">
            <div class="item-media"><i class="icon icon-f7"></i></div>
            <div class="item-inner">
              <div class="item-title">Panel / Side Panels</div>
            </div>
          </a>
        </li>
        <li>
          <a class="item-content item-link" href="/picker/">
            <div class="item-media"><i class="icon icon-f7"></i></div>
            <div class="item-inner">
              <div class="item-title">Picker</div>
            </div>
          </a>
        </li>
        <li>
          <a class="item-content item-link" href="/photo-browser/">
            <div class="item-media"><i class="icon icon-f7"></i></div>
            <div class="item-inner">
              <div class="item-title">Photo Browser</div>
            </div>
          </a>
        </li>
        <li>
          <a class="item-content item-link" href="/popup/">
            <div class="item-media"><i class="icon icon-f7"></i></div>
            <div class="item-inner">
              <div class="item-title">Popup</div>
            </div>
          </a>
        </li>
        <li>
          <a class="item-content item-link" href="/popover/">
            <div class="item-media"><i class="icon icon-f7"></i></div>
            <div class="item-inner">
              <div class="item-title">Popover</div>
            </div>
          </a>
        </li>
        <li>
          <a class="item-content item-link" href="/preloader/">
            <div class="item-media"><i class="icon icon-f7"></i></div>
            <div class="item-inner">
              <div class="item-title">Preloader</div>
            </div>
          </a>
        </li>
        <li>
          <a class="item-content item-link" href="/progressbar/">
            <div class="item-media"><i class="icon icon-f7"></i></div>
            <div class="item-inner">
              <div class="item-title">Progress Bar</div>
            </div>
          </a>
        </li>
        <li>
          <a class="item-content item-link" href="/pull-to-refresh/">
            <div class="item-media"><i class="icon icon-f7"></i></div>
            <div class="item-inner">
              <div class="item-title">Pull To Refresh</div>
            </div>
          </a>
        </li>
        <li>
          <a class="item-content item-link" href="/radio/">
            <div class="item-media"><i class="icon icon-f7"></i></div>
            <div class="item-inner">
              <div class="item-title">Radio</div>
            </div>
          </a>
        </li>
        <li>
          <a class="item-content item-link" href="/range/">
            <div class="item-media"><i class="icon icon-f7"></i></div>
            <div class="item-inner">
              <div class="item-title">Range Slider</div>
            </div>
          </a>
        </li>
        <li>
          <a class="item-content item-link" href="/searchbar/">
            <div class="item-media"><i class="icon icon-f7"></i></div>
            <div class="item-inner">
              <div class="item-title">Searchbar</div>
            </div>
          </a>
        </li>
        <li>
          <a class="item-content item-link" href="/searchbar-expandable/">
            <div class="item-media"><i class="icon icon-f7"></i></div>
            <div class="item-inner">
              <div class="item-title">Searchbar Expandable</div>
            </div>
          </a>
        </li>
        <li>
          <a class="item-content item-link" href="/sheet-modal/">
            <div class="item-media"><i class="icon icon-f7"></i></div>
            <div class="item-inner">
              <div class="item-title">Sheet Modal</div>
            </div>
          </a>
        </li>
        <li>
          <a class="item-content item-link" href="/smart-select/">
            <div class="item-media"><i class="icon icon-f7"></i></div>
            <div class="item-inner">
              <div class="item-title">Smart Select</div>
            </div>
          </a>
        </li>
        <li>
          <a class="item-content item-link" href="/sortable/">
            <div class="item-media"><i class="icon icon-f7"></i></div>
            <div class="item-inner">
              <div class="item-title">Sortable List</div>
            </div>
          </a>
        </li>
        <li>
          <a class="item-content item-link" href="/statusbar/">
            <div class="item-media"><i class="icon icon-f7"></i></div>
            <div class="item-inner">
              <div class="item-title">Statusbar</div>
            </div>
          </a>
        </li>
        <li>
          <a class="item-content item-link" href="/stepper/">
            <div class="item-media"><i class="icon icon-f7"></i></div>
            <div class="item-inner">
              <div class="item-title">Stepper</div>
            </div>
          </a>
        </li>
        <li>
          <a class="item-content item-link" href="/subnavbar/">
            <div class="item-media"><i class="icon icon-f7"></i></div>
            <div class="item-inner">
              <div class="item-title">Subnavbar</div>
            </div>
          </a>
        </li>
        <li>
          <a class="item-content item-link" href="/swipeout/">
            <div class="item-media"><i class="icon icon-f7"></i></div>
            <div class="item-inner">
              <div class="item-title">Swipeout (Swipe To Delete)</div>
            </div>
          </a>
        </li>
        <li>
          <a class="item-content item-link" href="/swiper/">
            <div class="item-media"><i class="icon icon-f7"></i></div>
            <div class="item-inner">
              <div class="item-title">Swiper Slider</div>
            </div>
          </a>
        </li>
        <li>
          <a class="item-content item-link" href="/tabs/">
            <div class="item-media"><i class="icon icon-f7"></i></div>
            <div class="item-inner">
              <div class="item-title">Tabs</div>
            </div>
          </a>
        </li>
        <li>
          <a class="item-content item-link" href="/timeline/">
            <div class="item-media"><i class="icon icon-f7"></i></div>
            <div class="item-inner">
              <div class="item-title">Timeline</div>
            </div>
          </a>
        </li>
        <li>
          <a class="item-content item-link" href="/toast/">
            <div class="item-media"><i class="icon icon-f7"></i></div>
            <div class="item-inner">
              <div class="item-title">Toast</div>
            </div>
          </a>
        </li>
        <li>
          <a class="item-content item-link" href="/toggle/">
            <div class="item-media"><i class="icon icon-f7"></i></div>
            <div class="item-inner">
              <div class="item-title">Toggle</div>
            </div>
          </a>
        </li>
        <li>
          <a class="item-content item-link" href="/toolbar-tabbar/">
            <div class="item-media"><i class="icon icon-f7"></i></div>
            <div class="item-inner">
              <div class="item-title">Toolbar & Tabbar</div>
            </div>
          </a>
        </li>
        <li>
          <a class="item-content item-link" href="/tooltip/">
            <div class="item-media"><i class="icon icon-f7"></i></div>
            <div class="item-inner">
              <div class="item-title">Tooltip</div>
            </div>
          </a>
        </li>
        <li>
          <a class="item-content item-link" href="/virtual-list/">
            <div class="item-media"><i class="icon icon-f7"></i></div>
            <div class="item-inner">
              <div class="item-title">Virtual List</div>
            </div>
          </a>
        </li>
        <li>
          <a class="item-content item-link" href="/vi/">
            <div class="item-media"><i class="icon icon-vi"></i></div>
            <div class="item-inner">
              <div class="item-title">vi - Mobile Video SSP</div>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div class="list simple-list searchbar-not-found">
      <ul>
        <li>Nothing found</li>
      </ul>
    </div>
    <div class="block-title searchbar-hide-on-search">Themes</div>
    <div class="list links-list searchbar-hide-on-search">
      <ul>
        <li>
          <a href="/./index.html?theme=ios" class="external">iOS Theme</a>
        </li>
        <li>
          <a href="/./index.html?theme=md" class="external">Material (MD) Theme</a>
        </li>
        <li>
          <a href="/color-themes/">Color Themes</a>
        </li>
      </ul>
    </div>
    <div class="block-title searchbar-hide-on-search">Page Loaders & Router</div>
    <div class="list links-list searchbar-hide-on-search">
      <ul>
        <li>
          <a href="/page-loader-template7/vladimir/123/about-me/1/?start=0&end=30#top">Template7 Page</a>
        </li>
        <li>
          <a href="/page-loader-component/vladimir/123/about-me/1/?start=0&end=30#top">Component Page</a>
        </li>
        <li>
          <a href="/load-something-that-doesnt-exist/">Default Route (404)</a>
        </li>
      </ul>
    </div>
  </div>
</div>
